BOT_TOKEN=xxxxxxxxxxxxxxxx

AI_TOKEN=xxxxxxxxxxxxxxxx

LOG_URL=https://raw.githubusercontent.com/YOUR_USERNAME/YOUR_REPO/main/run.jsonl

MODEL_NAME=gpt-5-mini

BOT_USENAME=tdsxxxxxxxbot

# OpenAI-compatible endpoint
OPENAI_BASE_URL=https://aipipe.org/openai/v1

# Logging
LOG_FILE=logs/run.jsonl
